<div class="map-view-container">

    <report-categories-filter (actionFilterReport)="updateMarkers($event)"></report-categories-filter>
    <report-details-overlay
            [report]="selectedReport"
            (close)="selectedReport = null"
            *ngIf="selectedReport"></report-details-overlay>
    <div class="map-panel">
        <div class="search-bar">
            <input type="text" placeholder="Buscar dirección..." #searchInput/>
            <button (click)="searchAddress(searchInput.value)">🔍</button>
        </div>
        <div class="map" id="map"></div>
    </div>

</div>